:root {
  --typography__default: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/s/fonts/open-sans-v28-latin-regular.woff2') format('woff2'),
       url('/wp-content/themes/s/fonts/open-sans-v28-latin-regular.woff') format('woff');
}
