dist: bionic
language: php
php:
- 7.4
addons:
  ssh_known_hosts:
  - 3.126.249.65
before_install:
- openssl aes-256-cbc -K $encrypted_225a8a15adfe_key -iv $encrypted_225a8a15adfe_iv 
  -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
- sudo apt-get install -y nodejs
install:
- npm install
script:
- npm run bundle
deploy:
  skip_cleanup: true
  provider: script
  script: npm run deploy
  on:
    all_branches: true